<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Department Form</title>
</head>
<body>
<h1>
    Melak Solutions: Employee Database
</h1>
<h2>Add New Employee</h2>
<form action="#" th:action="@{/addEmployee}" th:object="${employee}" method="post">

<input type="hidden" th:field="*{id}" />

    Department: <select name="department" th:field="*{department}">
    <option th:each="department : ${departments}"
            th:value="${department.id}"
            th:text="${department.name}"/>
</select>
    Employee Name: <input type="text" name="name" th:field="*{name}"/>

    Job Title: <input type="text" name="jobTitle" th:field="*{jobTitle}"/>

<input type="submit" value="Submit"/>
</form>
</body>
</html>