<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
</head>
<body>
<h1>
    Melak Solutions: Employee Database
</h1>
<h2>Employee List</h2>
<table>
    <tr>
    <th>Employee Name</th>
    <th>Job Title</th>
    <th>Department</th>
    </tr>
<tr th:each="employee : ${employees}">
        <td><span th:inline="text">[[ ${employee.name}]]</span></td>
        <td><span th:inline="text">[[${employee.jobTitle}]]</span></td>
        <td><span th:inline="text">[[${employee.department.name}]]</span></td>
        <td>
            <a th:href="@{/update/{id}(id=${employee.id})}">Update</a>
            <a th:href="@{/detail/{id}(id=${employee.id})}">Detail </a>
            <a th:href="@{/delete/{id}(id=${employee.id})}">Delete</a>
        </td>
        <br /></p>
</tr>
</table>
</body>
</html>